body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 45px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 300px;
    margin-bottom: 30px;
}

.letter-red{
    color: red;
}
.letter-green{
    color: green;
}

a{
    color: white;
    background-color: white;
}

a:hover{
    text-decoration: none;
    padding: 20px;
    border-radius: 100px;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 425px){
    h1{
        font-size: 25px;
    }

    .logo{
        width: 200px;
        margin-bottom: 30px;
    }
}
